# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
